.cells {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  cursor: pointer;
  width: fit-content;

  > div {
    display: grid;
    grid-template-columns: repeat(9, 1fr);

    > .cell {
      width: 64px;
      height: 64px;
      font-family: Tahoma, Verdana, sans-serif;
      opacity: 0;
    }
  }
}

.boardSvg {
  vector-effect: non-scaling-stroke;
  width: 672px;
  height: 704px;
  margin: -64px 0 0 -48px;
  position: absolute;

  text {
    text-anchor: middle;
    dominant-baseline: middle;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    paint-order: stroke fill;
  }

  .cellError {
    background-color: rgba(179 58 58 / 0.5);
    fill: rgba(179 58 58 / 0.5);
  }

  .cellGiven {
    font-size: 3rem;
    stroke-width: 1px;
    stroke: rgba(158 193 260 / 0.7);
    color: black;
    fill: black;
  }

  .cellCandidate {
    font-size: 1.3rem;
    stroke-width: 1px;
    stroke: rgba(158 193 260 / 0.7);
    color: var(--cell-value-color);
    fill: var(--cell-value-color);

    &[data-count="6"] {
      font-size: 97%;
    }

    &[data-count="7"] {
      font-size: 90%;
    }

    &[data-count="8"] {
      font-size: 80%;
    }

    &[data-count="9"] {
      font-size: 65%;
    }
  }

  .cellValue {
    font-size: 3rem;
    stroke-width: 1px;
    stroke: rgba(158 193 260 / 0.7);
    color: var(--cell-value-color);
    fill: var(--cell-value-color);
  }
}